:root {
    --nav-font: Arial, Helvetica, sans-serif;
    --nav-height: 6vh;
    --heading: #3171DE;
    --body-font-color: #212529;
}

html {
    overflow-x: hidden;
    font-family: var(--nav-font);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 125%;
    color: var(--body-font-color)
}

h1,
h2 {
    color: var(--heading);
}

p {
    line-height: 150%;
    font-size: 18px;
}

a {
    color: var(--body-font-color);
    text-decoration: none;
    font-size: 18px;
}

a:focus,
a:hover {
    color: var(--body-font-color);
    text-decoration: underline;
}

img {
    max-width: 100%;
}

#body {
    width: 60vw;
    margin: auto;
}

.section {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 4px;
}

#title {
    margin-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    font-weight: bold;
    color: var(--body-font-color);
    background-color: #F8FAFC;
}

#title-icon {
    width: 3em;
    margin: 10px;
}

#title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title-text {
    font-size: 50px;
}

#subtitle-text {
    font-size: 30px;
    text-align: center;
    line-height: 125%;
    margin: -0.5em;
}

.anchor {
    position: relative;
    display: block;
    /* visibility: hidden; */
    top: calc(-1 * var(--nav-height));
    height: 1px;
}